* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;

    &__task-form {
        margin-bottom: 30px;

        &__taskName,
        &__taskDueDate,
        &__taskDescription {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: none;
            outline: none;
            padding: 1em;
            background-color: #e1e2e3;
            box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
            transition: 300ms ease-in-out;
        }

        &__addTask {
            display: inline-block;
            transition: all 0.2s ease-in;
            position: relative;
            overflow: hidden;
            z-index: 1;
            color: #090909;
            padding: 0.7em 1.7em;
            cursor: pointer;
            font-size: 18px;
            border-radius: 0.5em;
            background: #e8e8e8;
            border: 1px solid #e8e8e8;
            box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;

            &:active {
                color: #666;
                box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
            }

            &:before {
                content: "";
                position: absolute;
                left: 50%;
                transform: translateX(-50%) scaleY(1) scaleX(1.25);
                top: 100%;
                width: 140%;
                height: 180%;
                background-color: rgba(0, 0, 0, 0.05);
                border-radius: 50%;
                display: block;
                transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
                z-index: -1;
            }

            &:after {
                content: "";
                position: absolute;
                left: 55%;
                transform: translateX(-50%) scaleY(1) scaleX(1.45);
                top: 180%;
                width: 160%;
                height: 190%;
                background-color: #009087;
                border-radius: 50%;
                display: block;
                transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
                z-index: -1;
            }

            &:hover {
                color: #ffffff;
                border: 1px solid #009087;

                &:hover:before {
                    top: -35%;
                    background-color: #009087;
                    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
                }

                &:hover:after {
                    top: -45%;
                    background-color: #009087;
                    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
                }
            }
        }


    }

    button {
        color: #090909;
        padding: 0.7em 1.7em;
        font-size: 18px;
        border-radius: 0.5em;
        background: #e8e8e8;
        cursor: pointer;
        border: 1px solid #e8e8e8;
        transition: all 0.3s;
        box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;

        &:active {
            color: #666;
            box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
        }
    }




    &__task-list {
        background-color: #fff;
        border: 1px solid #ddd;
        padding: 20px;

        &__task {
            border-bottom: 1px solid #ddd;
            padding: 10px;
            position: relative;

            &:last-child {
                border-bottom: none;
            }

            &__h3 {
                margin-bottom: 5px;
            }

            &__p {
                font-size: 0.9em;
            }
        }
    }

}

.task .due-date {
    font-size: 0.8em;
    color: #888;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }
}








// &__addTask {
//     display: block;
//     width: 100%;
//     padding: 10px;
//     border: none;
//     background-color: #333;
//     color: white;
//     cursor: pointer;
//     margin-top: 10px;

//     &:hover {
//         background-color: #555;
//     }
// }